$backgroundColor: #fff;
$backgroundTransparentColor: rgba(255, 255, 255, 0.8);
$sheetBackgroundColor: rgba(240,240,240,0.8);
$foregroundColor: #000;
$thinRuleColor: rgba(0, 0, 0, 0.15);
$headingsColor: #000;
$headingsUnderlineColor: rgba(0, 0, 0, 0.15);
$boldColor: #000;
$boldUnderlineColor: rgba(0, 0, 0, 0.15);
$linkColor: #0060a0;
$linkUnderlineColor: rgba(0, 96, 160, 0.15);
$linkColorVisited: #70a0b0;
$linkUnderlineColorVisited: rgba(112, 160, 176, 0.15);
$hoverColor: #b03000;
$hoverUnderlineColor: rgba(176, 48, 0, 0.15);
$tagColor: #556677;
$tagUnderlineColor: rgba(0, 0, 0, 0.15);
$adminColor: #009030;
$adminUnderlineColor: rgba(0, 144, 48, 0.15);
$engineTextColor: #a0a0a0;
$engineTextUnderlineColor: rgba(160, 160, 160, 0.15);
$markedTextBackground: #fffada;
$markedImageBorderColor: #fff8b8;
$inputBackgroundColor: #f0f0f0;
$inputTextColor: #000;
$imageBorderColor: #e8e8e8;
$disabledColor: #cccccc;
$activeColor: #ff3000;
$verifiedColor: #009900;
$errorColor: #b03000;
$currentItemBackgroundColor: #e8e8e8;
$windowBackgroundColor: #fff;
$unsavedIndicatorColor: #b03000;
$subscribeButtonBackground: rgba(231,231,231,.8);
$subscribeButtonHoverBackground: rgba(212,212,212,.8);
$subscribeButtonTextColor: #000;
$maxWidth: 1280px;
$marginTop: 48px;
$marginLeft: 9%;
$marginRight: 9%;
$marginTopCompact: 16px;
$marginLeftCompact: 4%;
$marginRightCompact: 4%;
$displayLogoMarginal: block;
$displayLogo: none;
$displayLogoCompact: block;
$columnSpacing: 15px;
$borderRadius: 6px;
$logoTop: -20px;
$logoSize: 40px;
$blogTitleFontSize: 16px;
$blogTitleLineHeight: 24px;
$subHeadingFontSize: 26px;
$subHeadingLineHeight: 32px;
$pageHeadingFontSize: 36px;
$pageHeadingLineHeight: 40px;
$noteTitleFontSize: 36px;
$noteTitleLineHeight: 40px;
$noteTitleFavouriteFontSize: 36px;
$noteTitleFavouriteLineHeight: 40px;
$noteTextFontSize: 16px;
$noteTextLineHeight: 24px;
$smallFontSize: 12px;
$smallLineHeight: 16px;
$bigButtonFontSize: 20px;
$bigButtonLineHeight: 28px;
$mainFontFamily: system-ui, -apple-system, BlinkMacSystemFont, "SF UI Text", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$noteMainFontFamily: inherit;
$smallFontFamily: inherit;
$time: .2s;
$timeLong: .33s;